<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="/add" class="container">
    <div class="row">
        <col-md-6>
            <input type="text" name="nome_completo" id="nome_completo" placeholder="nome_completo" class="form-control">
        </col-md-6>
            <input type="text" name="cpf" id="cpf" placeholder="cpf" class="form-control">
        <col-md-6>
            <input type="text" name="email" id="email" placeholder="email" class="form-control">
        </col-md-6>
    </div>
</form>    
<br>
<div class="div">
    <button type="submit" class="btn btn-block btn-sucess">Criar novo Clientee</button>
</div>
</body>
</html>